body{
    background-color: #eee4e4;
    font-family:Verdana, "DejaVu Sans", serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 22px;
}

p, a, li{
    font-size: 18px;
}